<head>
  <title>App Name</title>

  <link id="favicon" rel="shortcut icon" type="image/png" href="./lib/assets/icons/Get My Logo no name with transparency.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./lib/assets/materialize.css" rel="stylesheet">

  <script type="text/javascript" src="./lib/assets/materialize.js"></script>
</head>

<body>
    
</body>
