<template name="headerBar">
  <ul id="drop-manage" class="dropdown-content">
    
  </ul>
    <nav>
        <div class="nav-wrapper blue darken-4">
          <a href="#" class="brand-logo center" id="brandLogo">[App Name]]</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {{#if currentUser}}
              <li><a href="#" id="myacct" class="navBtn">My Account</a></li>
              {{#if isInRole 'systemadmin'}}
                <li><a href="#" id="mygroups" class="navBtn">My Groups</a></li>
                <li><a href="#" id="mykids" class="navBtn">[Some Option]</a></li>
              {{/if}}
              <li class="signOut"><a href="#" class="signOut">Log Out</a></li>
            {{else}}
              <li><a href="#!" id="login" class="navBtn">Login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-demo">
        {{#if currentUser}}
        <li><a href="#!" id="myacct" class="navBtn">My Account</a></li>
        {{#if isInRole 'systemadmin'}}
          <li><a href="#!" id="mygroups" class="navBtn">My Groups</a></li>
          <li><a href="#!" id="mykids" class="navBtn">[Some Option]]</a></li>
        {{/if}}
        <li><a href="#!" class="signOut">Sign Out</a></li>
        {{else}}
          <li><a href="#!" id="login" class="navBtn">Login</a></li>
        {{/if}}
      </ul>
</template>
