<template name="reg">
    {{#if $not currentUser}}
        <div id="registrationForm">
            <div class="container">
                <h4>Register</h4>
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <form class="register">
                                    <div class="row">
                                        <div class="col s12 input-field">
                                            <input type="text" name="name" class="name {{#if $eq misName true}}red lighten-3{{/if}}" id="name" />
                                            <label for="name">Your Full Name *</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 input-field">
                                            <input type="email" name="email" id="email" class="email {{#if $eq misEmail true}}red lighten-3{{/if}}" />
                                            <label for="email">Email *</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 input-field">
                                            <input type="password" name="password" id="password" class="password {{#if $eq misPass true}}red lighten-3{{/if}}" />
                                            <label for="password">Password *</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12 input-field {{#if $eq canReg false}}orange lighten-1{{/if}}">
                                            <input type="password" name="passwordConfirm" id="passwordConfirm" class="passwordConfirm" />
                                            <label for="passwordConfirm">Confirm Password *</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <a id="registerMe" class="waves-effect waves-light btn registerMe {{#if $eq canReg false}}grey{{else}}green darken-1{{/if}}">Register</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-action">
                              <a href="#" id="login">Sign In</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>