<template name="home">
    <div class="container">
        <h4>Welcome to [App Name]]</h4>
        <p class="flow-text">Please login to start using [App Name].  An open source, self hostable, free to use, modify, re-distribute [app description]. Created to [what app does]</p>
    </div>
</template>